<div class="container">

  <div class="field">
    <label class="label">
      Name
    </label>
    <div class="control">
      <input class="input" type="text" v-model="name">
    </div>
  </div>

  <div class="field">
    <label class="label">
      Host
    </label>
    <div class="control">
      <input class="input" type="text" v-model="host" :disabled="paired">
    </div>
  </div>

  <div class="field">

    <!-- delete button -->

    <div class="control" v-if="!paired">
      <button class="button">
        Pair
      </button>
    </div>

    <div class="control" v-if="paired">
      <button class="button is-danger">
        Unpair
      </button>
    </div>

  </div>

</div>
