<div class="container">

  <div class="columns">

    <div class="column">

      <h1 class="title">
        Moonlight setting
      </h1>

      <div class="field">
        <label class="label">
          Surround 5.1
        </label>
        <div class="control">
          <div class="select">
            <select>
              <option>Enable</option>
              <option>Disable</option>
            </select>
          </div>
        </div>
      </div>

    </div>

    <div class="column">

      <h1 class="title">
        Application setting
      </h1>

    </div>

  </div>

</div>
